/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/* ________INDEX.CSHTML____________ */

.formsContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

form{
  border: 5px solid rgb(95, 94, 94);
  display: flex;
  flex-direction: column;
  min-width: 450px;
  font-size: 15px;
  padding: 10px;
  text-shadow: #0366d6;
}

#LoginForm{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.inputDivs
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputDivs div{
  display: flex;
  justify-content: space-between;
}
span{
  height: 25px;
  color: rgb(245, 115, 115);
  font-size: 14px;
  align-self: flex-end;
}

input{
  width: 280px;
}

button{
  width: 150px;
  height: 35px;
  align-self: center;
  margin: 25px;

}
h3{
  align-self: center;
}

/* ___________HOBBY.CSHTML________ */


.HobbyContainer
{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  width: 500px;
  margin: 0 auto;

}

.HobbyContainer h1{
  align-self: center;
}

table th{
  text-align: left;
  background-color: rgb(197, 197, 199);
}

tr:nth-child(odd) {
  background-color: rgb(224, 224, 226);
}

.HobbyContainer .linkA{
  all: unset;
  align-self: center;
  margin: 20px;
  width: 120px;
  height: 25px;
  background-color:rgb(224, 224, 226);
  border: none;
  color: black;
  text-align: center;
  cursor: pointer;
  box-shadow: 4px 4px rgb(109, 106, 106);
}

.CreateForm{
  width: 50px;
  margin: 0 auto;
}

.CreateForm h1{
  align-self: center;
}
#DescriptionInput{
  height: 150px;
}

.ViewHobbyContainer{
  max-width: 500px;
  min-width: 500px;
  margin:0 auto;
  border: 1px solid black;
  padding: 10px;
}

.EuthusiastData{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#AddHobbyForm
{
  all: unset;
  width: 60px;
}

.EuthusiastData {
  margin-top: 20px;
}

.EuthusiastData table
{
  width: 250px;
}
.EuthusiastData p{
  display: flex;
  justify-content: center;
}
.hobbyData{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hobbyData p{
  width: 300px;
}
.ViewHobbyContainer a{
  align-self: center;
}

.hobbyDescriptionP{
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.ViewHobbyContainer .linkA{
  all: unset;
  display: flex;
  justify-content: center;
  width: 120px;
  height: 25px;
  background-color:rgb(224, 224, 226);
  border: none;
  color: black;
  cursor: pointer;
  box-shadow: 4px 4px rgb(109, 106, 106);
  margin: 0 0 25px 35px ;
}